<!-- This goes before </head> closing tag, Google Analytics can be placed here --> 
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZF7LCGKPPX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZF7LCGKPPX');
</script>

<meta name="p:domain_verify" content="c070d6d1da5eab1de557efbf741071f9"/>

<link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
<link rel="manifest" href="assets/images/site.webmanifest">


<link rel="icon" href="assets/images/favicon.ico">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3027954392154545"
     crossorigin="anonymous"></script>

<script type='text/javascript' src='//pl25693109.profitablecpmrate.com/e3/9d/5e/e39d5e65d58570583336cee916ca5d71.js'></script>
